<!DOCTYPE HTML>
<html>
<head>
    <title>IShow大学生项目园</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/amazeui.widgets.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="js/jquery.js"></script>
    <!-- start slider -->
    <link href="css/camera.css" rel="stylesheet" type="text/css" media="all" />

    <script src="js/jquery.min.js"></script>
    <script type='text/javascript' src="js/jquery.mobile.customized.min.js"></script>
    <script type='text/javascript' src="js/jquery.easing.1.3.js"></script>
    <script type='text/javascript' src="js/camera.min.js"></script>
    <script src="js/zepto.min.js"></script>
    <script src="js/amazeui.min.js"></script>
    <script src="js/handlebars.min.js"></script>
    <script src="js/amazeui.widgets.helper.min.js"></script>
    <style type="text/css">
        .btn-search{
            margin-left: 0px;
        }
        .form-control {
            height: 36px;
        }
    </style>
    <!-- end slider -->
</head>
<body>
<!--star wrap-->
<div class="include" file="header.html"></div>
<!--end wrap-->
<!--top- heading-->
<div class="top-heading">
    <!--start-wrap-->
    <div class="wrap">
        <div class="title">
            <div class="float-lt"><h1>发布比赛信息</h1></div>
            <form class="form-inline">
                <div class="form-group float-rt">
                    <input type="button" class="btn-search" value="搜索">
                </div>
                <div class="form-group float-rt">
                    <input type="text" class="form-control " placeholder="搜索">
                </div>
            </form>
            <div class="clear"></div>
        </div>
    </div>
    <!--end wrap-->
</div>
<script type="application/javascript">
   /* $(document).ready(function(){
        $.get("../controller/GetUserInfos.php", function(result, status){
            if (0 != result.code) {
                alter(result.msg);
            } else {
                var data = result.data;
                console(data);
            }
        });
    });
*/
</script>

<!--about-content-->
<div class="wrap">
    <div class="content">
        <!--about-grids-->
        <div class="main-grid">
            <div class="grid-left">
                <!-- start slider -->
                <div class="contact">
                    <div class="company_address">
                    </div>
                    <div class="contact-form">

                            <div>
                                <input id="titleValue" type="text" class="textbox right" placeholder="标题">
                            </div>
                            <div class="clear"></div>
                            <div>
                                <input id="typeValue" type="text" class="textbox right" placeholder="类型" >
                            </div>
                            <div class="clear"></div>
                            <div>
                                <textarea id="contentValue" rows="2" cols="70" placeholder="内容"></textarea>
                            </div>
                            <br>
                            <div >
                                开始时间：<input type="date" name="start_time">
                            </div>
                            <br>
                            <div>
                                结束时间：<input type="date" name="end_time">
                            </div>
                            <div>
                                <input id="click"  type="submit"  placeholder="提交" onclick="sendRequest()">
                            </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!--end blog-left-->
            <div class="clear"> </div>
        </div>
        <!--end about-grids-->
    </div>
</div>
<!--start footer-->
<div class="include" file="footer.html"></div>
<!--end footer-->
<div class="include" file="ender.html"></div>
<script src="js/include.js"></script>
<script typ="application/javascript">
    function sendRequest( url="../controller/GetUserInfos.php", method="post") {
        var title = document.getElementById("titleValue").value;
        var content = document.getElementById("contentValue").value;
        if ()
        $.ajax({
            type: "post",
            url: url,
            data: {'title': title, 'content': content},
            cache: false,
            async: false,
            dataType: "json",
            success: function(json, textStatus, jsXHR) {
                if (0 == json.code) {
                    console.info(json);
                } else {
                    window.alter(json.msg);
                }
                return true;
            },
            error:function (XMLHttpRequest, textStatus, errorThrow) {
                console.info(errorThrow);
                return false;
            }
        });
    }
    /*$(document).ready(function(){
        $("click").click(function(){
            alter('hahaha');
            var title = document.getElementById('title').value;
            var content = document.getElementById('content').value;
            $.ajax({
                type: "post",
                url: "http://101.200.59.83/controller/addCompetition.php",
                data: {'title': title, 'content': content},
                cache: false,
                async: false,
                dataType: "json",
                success: function(json, textStatus, jsXHR) {
                    if (0 == json.code) {
                        console.info(json);
                    } else {
                        alter(json.msg);
                    }
                }
            });
        })
    });*/
</script>
</body>
</html>