
<!DOCTYPE HTML>
<html>
<head>
    <title>IShow大学生项目园 </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="js/jquery.js"></script>
    <!-- start slider -->
    <link href="css/camera.css" rel="stylesheet" type="text/css" media="all" />
    <script src="js/jquery.min.js"></script>
    <script type='text/javascript' src="js/jquery.mobile.customized.min.js"></script>
    <script type='text/javascript' src="js/jquery.easing.1.3.js"></script>
    <script type='text/javascript' src="js/camera.min.js"></script>
    <script>
        jQuery(function(){

            jQuery('#camera_wrap_2').camera({

                loader: 'bar',
                pagination: false,
                thumbnails: false
            });
        });
    </script>
    <!-- end slider -->
</head>
<body>
<!--star wrap-->
<div class="include" file="header.html"></div>
<!--end wrap-->
<!--top- heading-->
<div class="top-heading">
    <!--start-wrap-->
    <div class="wrap">
        <div class="title">
            <div class="float-lt"><h1>详情介绍</h1></div>

            <div class="clear"></div>
        </div>
    </div>
    <!--end wrap-->
</div>
<!--start blog-->
<div class="blog-content">
    <section id="detail_main">
        <div class="inner">
            <div id="content_div">
            </div>
            <div class="soci">
                <ul>
<!--
                    <li class="hvr-rectangle-out"><a id="dianzan" class="fb" href="#"></a></li>
-->
                    <li class="hvr-rectangle-out"><a id="shoucang" class="pin"></a></li>
                </ul>
            </div>
        </div>
        <div class="response">
            <h4>评论区</h4>
            <hr>
            <div id="pinglun">

            </div>

        </div>

        <div class="comment-form">
            <h2>我要评论</h2>
            <div>
                <span><textarea id="commentContent" rows="2" cols="70" placeholder="评论"></textarea></span>
            </div>
            <div>
                <span><input id="submitComment" type="submit" placeholder="提交"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!--end  blog-grids-->
</div>

<!--end blog-->
<!--start footer-->
<div class="include" file="footer.html"></div>
<!--end footer-->
<div class="include" file="ender.html"></div>
<script type="text/javascript" src="js/include.js"></script>
<script type="text/javascript" src="js/ishow.ajax.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var cpid = GetQueryString("cpid");
        if (cpid == null) {
            alert("不知道你要查看哪个比赛呢");
        }
        ishowAjax({
            type: "post",
            url: "../controller/getCompetitions.php",
            data: {'cpid': cpid},
            cache: false,
            async: false,
            dataType: "json",
            success: function(json, textStatus, jsXHR) {
                if (0 == json.code) {
                    var insert_div = document.getElementById("content_div");
                    var div1 = document.createElement("div");
                    div1.setAttribute("class", "image fit");
                    var img = document.createElement("img");
                    img.src = json.data[0].pic;
                    div1.appendChild(img);
                    insert_div.appendChild(div1);
                    var header = document.createElement("header");
                    var h1 = document.createElement("h1");
                    h1.innerHTML = sub_string(json.data[0].title, 100);
                    var p1 = document.createElement("p");
                    p1.setAttribute("class", "info");
                    p1.innerHTML = formateDate(json.data[0].create_time);
                    header.appendChild(h1);
                    header.appendChild(p1);
                    insert_div.appendChild(header);
                    var section = document.createElement("section");
                    section.setAttribute("class", "content_xq");
                    var p2 = document.createElement("p");
                    p2.innerHTML = json.data[0].content;
                    section.appendChild(p2);
                    insert_div.appendChild(section);
                } else {
                    alert(json.msg);
                }
                return true;
            },
        })
    });

    $(document).ready(function () {
        $("#shoucang").click(function () {
            var cpid = GetQueryString("cpid");
            ishowAjax({
                type: "post",
                url: "../controller/addCollections.php",
                data: {'obj': cpid, 'type': 2},
                cache: false,
                async: false,
                dataType: "json",
                success: function (json, textStatus, jsXHR) {
                    if (0 == json.code) {
                        alert("提交成功");
                    } else {
                        alert(json.msg);
                    }
                    return true;
                },
            })
        });
    });

    $(document).ready(function() {
        var cpid = GetQueryString("cpid");
        ishowAjax({
            type: "post",
            url: "../controller/getComments.php",
            data: {'obj': cpid, 'type': 2, 'page': 1, 'pagesize': 1000},
            cache: false,
            async: false,
            dataType: "json",
            success: function (json, textStatus, jsXHR) {
                if (0 == json.code) {
                    if (json.data != null || json != undefined) {
                        var div = document.getElementById("pinglun");
                        $.each(json.data, function(key, value) {
                            console.info(value);
                            var div1 = document.createElement("div");
                            div1.setAttribute("class", "media response-info");
                            var div2 = document.createElement("div");
                            div2.setAttribute("class", "media-left response-text-left");
                            var a = document.createElement("a");
                            a.href = "user.html?uname=" + value.uname;
                            var img = document.createElement("img");
                            img.src = value.headpic;
                            a.appendChild(img);
                            div2.appendChild(a);
                            div1.appendChild(div2);
                            var div3 = document.createElement("div");
                            div3.setAttribute("class", "media-body response-text-right");
                            var p = document.createElement("p");
                            p.innerHTML = value.content;
                            div3.appendChild(p);
                            div1.appendChild(div3);
                            var div4 = document.createElement("div");
                            div4.setAttribute("class", "clearfix");
                            div1.appendChild(div4);
                            div.appendChild(div1);
                        });
                    }
                } else {
                    alert(json.msg);
                }
                return true;
            },
        })
    });

    $(document).ready(function() {
        $("#submitComment").click(function() {
            var cpid = GetQueryString("cpid");
            var commentContent = document.getElementById("commentContent").value;
            ishowAjax({
                type: "post",
                url: "../controller/addComment.php",
                data: {'obj': cpid, 'type': 2, 'content': commentContent},
                cache: false,
                async: false,
                dataType: "json",
                success: function (json, textStatus, jsXHR) {
                    if (0 == json.code) {
                        alert("评论成功");
                    } else {
                        alert(json.msg);
                    }
                    return true;
                },
            })
        })
    })

</script>
</body>
</html>