<!DOCTYPE HTML>
<html>
<head>
<title>Ishow大学生项目园</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="js/jquery.js"></script>
<!-- start slider -->
	<link href="css/camera.css" rel="stylesheet" type="text/css" media="all" />
	<script src="js/jquery.min.js"></script>
    <script type='text/javascript' src="js/jquery.mobile.customized.min.js"></script>
    <script type='text/javascript' src="js/jquery.easing.1.3.js"></script> 
    <script type='text/javascript' src="js/camera.min.js"></script>
    <script>
		jQuery(function(){

			jQuery('#camera_wrap_2').camera({
				
				loader: 'bar',
				pagination: false,
				thumbnails: false
			});
		});
	</script>

<!-- end slider -->
</head>
<body>
<!--star wrap-->      
<div class="include" file="header.html"></div>
<!--end wrap-->   
<!--top- heading-->
<div class="top-heading">
	<!--start-wrap-->
	<div class="wrap">
		<div class="title">
			<div class="float-lt"><h1>比赛推送</h1></div>
		    <form class="form-inline">
		    	<div class="form-group float-rt">
			   		<input type="button" class="btn-search" value="搜索">
			    </div>
		    	<div class="form-group float-rt">
			    	<input type="text" class="form-control " placeholder="搜索">
			    </div>
		    </form>
		    <div class="clear"></div>
		</div>
	</div>
	<!--end wrap-->
</div> 
<!--start blog-->
<div class="blog-content">
	<div class="wrap">
		<!--blog-grid-->
		<div class="blog-grids">
			<!-- blog-left-->
			<div class="blog-left">
			<!-- start slider -->
				<div class="slider">
					<div class="fluid_container">
						<div class="camera_wrap camera_magenta_skin" id="camera_wrap_2">
							<div data-src="images/slider1-1.jpg"></div>
							<div data-src="images/slider2-1.jpg"></div>
							<div data-src="images/slider3-1.jpg"></div>
							<div data-src="images/slider4-1.jpg"></div>
						</div><!-- #camera_wrap_2 -->
			    	</div><!-- .fluid_container -->
				    <div class="clear"> </div>
				</div>
				<div class="my_content">
				</div>
				</div>
				<!--end slider-->
			</div>
			<!--end blog-left-->
			<!--blog-right-->
			<div class="blog-right">
				<div class="side-bar">
					<div class="grid-right-headings">
						<h2><a href="#">最新比赛</a></h2>
						<h6> </h6>
							<div class="clear"> </div>
					</div>
					<div class="seach-links">
						<div id="zuixin">

						</div>
					</div>
					<div class="grid-right-headings">
						<h2><a href="#">比赛报名</a></h2>
						<h6> </h6>
							<div class="clear"> </div>
					</div>
					<div class="seach-links">
	                    <div id="filters" class="clearfix">
	                    	<p><a href="baoming.html" class="btn" style="color:#fff;font-size:14px">“挑战杯”四川大学2017年学生科技节之软件设计大赛报名表</a></p>
							<p ><a href="baoming.html" class="btn" style="color:#fff;font-size:14px">“挑战杯”四川大学2017年学生科技节之创意雕刻大赛报名表</a></p>
							<p ><a href="baoming.html" class="btn" style="color:#fff;font-size:14px">“挑战杯”四川大学2017年学生科技节之网页设计大赛报名表</a></p>
						</div>
					</div>
				
				</div>
			</div>
			<div class="clear"> </div>
			<div class="page-numbers">
				<ul id="page-ul">
				</ul>
			</div>
		</div>
		<!--end blog-right-->
	</div>
	<!--end  blog-grids-->

</div>
	
<!--end blog-->
<!--start footer-->
<div class="include" file="footer.html"></div>
<!--end footer-->
<div class="include" file="ender.html"></div>
<script type="text/javascript" src="js/include.js"></script>
<script type="text/javascript" src="js/ishow.ajax.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var page = GetQueryString("page");
		var pagesize = GetQueryString("pagesize");
		if (page == null) {
			page = 1;
		}
		if (pagesize == null) {
			pagesize = 25;
		}
		ishowAjax({
			type: "post",
			url : "../controller/getCompetitions.php",
			data: {'page': page, "pagesize": pagesize},
			cache: false,
			async: false,
			dataType: "json",
			success: function(json, status, jsXHR) {
				if (json.code == 0) {
					if (json.data != null) {
						$.each(json.data.list, function(key, value) {
							var insert_div = document.getElementsByClassName("my_content")[0];
							var div1 = document.createElement("div");
							div1.setAttribute("class", "vedieo");
							var hh = document.createElement("h6");
							insert_div.appendChild(hh);
							var div2 = document.createElement("div");
							var a1 = document.createElement('a');
							var span1 = document.createElement("span");
							a1.appendChild(span1);
							div2.appendChild(a1);
							div2.setAttribute("class", "icon1");
							var div3 = document.createElement("div");
							div3.setAttribute("class", "sinfo");
							var div4 = document.createElement("div");
							div4.setAttribute("class", "sinfo-left");
							var h1 = document.createElement("h3");
							h1.innerHTML = "级别";
							div4.appendChild(h1);
							var span2 = document.createElement("span");
							span2.setAttribute("class", "org");
							if (value.type == "11") {
								span2.innerHTML = "校级比赛";
							} else if (value.type == "12") {
								span2.innerHTML = "省级比赛";
							} else if (value.type == "13") {
								span2.innerHTML = "国家级比赛";
							} else {
								span2.innerHTML = "暂无级别";
							}
							div4.appendChild(span2);
							var h2 = document.createElement("h3");
							h2.setAttribute("class", "org");
							h2.innerHTML = "开始时间";
							div4.appendChild(h2);
							var span3 = document.createElement("span");
							span3.setAttribute("class", "org");
							var time = formateDate(value.start_time);
							span3.innerHTML = time;
							div4.appendChild(span3);
							var h3 = document.createElement("h3");
							h3.innerHTML = "结束时间";
							div4.appendChild(h3);
							var span4 = document.createElement("span");
							span4.setAttribute("class", "org");
							span4.innerHTML = formateDate(value.end_time);
							div4.appendChild(span4);
							div3.appendChild(div4);
							var div5 = document.createElement("div");
							div5.setAttribute("class", "sinfo-right");
							var h4 = document.createElement("h4");
							var a2 = document.createElement("a");
							a2.href = "competitions.html?cpid=" + value.cpid;
							a2.innerHTML = value.title;
							h4.appendChild(a2);
							div5.appendChild(h4);
							var p = document.createElement("p");
							p.innerHTML = sub_string(value.content, 240);
							div5.appendChild(p);
							div3.appendChild(div5);
							var div6 = document.createElement("div");
							div6.setAttribute("class", "clear");
							div3.appendChild(div6);
							div1.appendChild(div2);
							div1.appendChild(div3);
							insert_div.appendChild(div1);
						})
					}
					//最新比赛前三个
					if (json.data != null) {
						var i = 0;
						var div = document.getElementById("zuixin");
						$.each(json.data.list, function (key, value) {
							if (i == 2) {
								return false;
							}
							var p = document.createElement("p");
							var a = document.createElement("a");
							a.href = "competitions.html?cpid=" + value.cpid;
							a.innerHTML = value.title;
							p.appendChild(a);
							div.appendChild(p);
							i++;
						});
					}

					if (json.data.total > json.data.pagesize) {
						var type = GetQueryString("type");
						var ul = document.getElementById("page-ul");
						for (var i = 1; i < (json.data.total/json.data.pagesize) + 1; i++) {
							var li = document.createElement("li");
							var a = document.createElement("a");
							a.href = "contest.html?page=" + i +"&pagesize=" + json.data.pagesize;
							a.innerHTML = i;
							li.appendChild(a);
							if (json.data.page == i) {
								li.setAttribute("class", "active");
							}
							ul.appendChild(li);
						}
						var div = document.createElement("div");
						div.setAttribute("class", "clear");
						ul.appendChild(div);
					}
				} else {
					alert(json.msg);
				}

			}
		})
	});
</script>
</body>
</html>