<div class="footer">
    <div class="footer-main wrap">
        <div class="footer-grids">
            <div class="fgrid">
                <h3>友情链接</h3>
                <p><a href="http://www.scu.edu.cn" target="_black">四川大学</a></p>
                <p><a href="http://xsc.scu.edu.cn/" target="_black">学工部</a></p>
                <p><a href="http://jwc.scu.edu.cn/jwc/frontPage.action" target="_black">教务处</a></p>
                <p><a href=" http://www.ccyl.org.cn/" target="_black">中国青年网</a></p>
                <p></p>
            </div>
            <div class="fgrid">
                <h3>关注我们</h3>
                <div>
                    <p>新浪微博<a href="http://weibo.com/cdtw">@川大团委</a></p>

                </div>
                <div>
                    <p>微信<a href="#">川大共青团</a></p>

                </div>
                <div>
                    <p>人人 <a href="#">@川大团委</a></p>
                </div>
            </div>
            <div class="fgrid">
                <h3>联系我们</h3>
                <p>如果您有好的建议或者意见，请告诉我们。</p>
                <a href="#"><p>rollcollege@gmail.com</p></a>
                <h4></h4>
                <div class="social-media">
                    <ul>
                        <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="腾讯微博"><a href="#" target="_blank"> </a></span></li>
                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="新浪微博"><a href="http://weibo.com/cdtw" target="_blank"> </a> </span></li>
                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="邮箱"><a href="#" target="_blank"> </a></span></li>
                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="qq空间"><a href="#" target="_blank"> </a></span></li>
                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="百度贴吧"><a href="#" target="_blank"> </a></span></li>
                    </ul>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>