<div class="wrap">
    <!--header-->
    <div class="header">
        <!--start-logo-->
        <div class="logo">
            <a href="index.html"><img src="images/logo.jpg"></a>
        </div>
        <!--end-logo-->
        <!--start-menu-->
        <div class="menu">
            <a class="toggleMenu" href="#"><img src="images/nav.png" alt= " " /></a>
            <ul class="nav">
                <li class="active"><a href="index.html">首页</a></li>
                <li class="dropdown">
                    <a href="list-work.html?type=1">竞赛指导</a>
                </li>
                <li class="dropdown">
                    <a href="contest.html">比赛推送</a>
                </li>
                <li class="dropdown">
                    <a href="production.html">优秀作品</a>
                </li>
                <li class="dropdown">
                    <a href="phb.html" >排行榜</a>
                </li>
                <!--<li class="dropdown">
                    <a href="stu_grzl.html" >个人中心</a>
                </li>-->
                <li class="dropdown">
                    <a id="islogin" href="login.html">登录</a>
                </li>

                <div class="clear"> </div>
            </ul>
            <script type="text/javascript" src="js/dropdown.js"></script>
            <script type="text/javascript" src="js/responsive-nav.js"></script>

        </div>
        <div class="clear"> </div>
        <!--end-menu-->
    </div><!--end-header-->
</div><!--end wrap-->
