
<!DOCTYPE HTML>
<html>
<head>
<title>IShow大学生项目园 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="css/amazeui.widgets.min.css">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="js/jquery.js"></script>
<!-- start slider -->
	<link href="css/camera.css" rel="stylesheet" type="text/css" media="all" />
	
	<script src="js/jquery.min.js"></script>
    <script type='text/javascript' src="js/jquery.mobile.customized.min.js"></script>
    <script type='text/javascript' src="js/jquery.easing.1.3.js"></script> 
    <script type='text/javascript' src="js/camera.min.js"></script>
    <script src="js/zepto.min.js"></script>
	<script src="js/amazeui.min.js"></script>
	<script src="js/handlebars.min.js"></script>
	<script src="js/amazeui.widgets.helper.min.js"></script>
    <script>
		jQuery(function(){

			jQuery('#camera_wrap_2').camera({
				
				loader: 'bar',
				pagination: false,
				thumbnails: false
			});
		});
	</script>
	<style type="text/css">
	.btn-search{
	margin-left: 0px;
	}
	.form-control {
  	height: 36px;
  	}
	</style>
<!-- end slider -->
</head>
<body>
<!--star wrap-->      
<div class="wrap">	
	<!--header--> 
	<div class="header">
		<!--start-logo-->
	    <div class="logo">	
	        <a href="index.html"><img src="images/logo.jpg"></a>
	    </div>
	    <!--end-logo-->
		<!--start-menu-->
	  	<div class="menu">
		  <a class="toggleMenu" href="#"><img src="images/nav.png" alt= " " /></a>
			<ul class="nav">
				<li class="active"><a href="index.html">首页</a></li>
				<li class="dropdown">
					<a href="jszd.html">竞赛指导</a>
					<ul class="dropdown-menu">
						<li><a href="jszd.html">比赛经验</a></li>
						<li><a href="list-twjs.html">优秀文档</a></li>
						<li><a href="#">优秀ppt</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="contest.html">比赛推送</a>
				</li>
				<li class="dropdown">
					<a href="production.html">优秀作品</a>
					<ul class="dropdown-menu">
						<li><a href="detail-su.html">比赛作品</a></li>
						<li><a href="#">个人创作</a></li>
					</ul>
				</li>	            
				<li class="dropdown">									
	            	<a href="detail-su.html" >排行榜</a>
	            	<ul class="dropdown-menu">
	            		<li><a href="detail-su.html">作品排行</a></li>
	            		<li><a href="detail-su.html">学生排行</a></li>
	            	</ul>
	            </li>
				<li class="dropdown">									
	            	<a href="user.html" >个人中心</a>
	            </li>

			<div class="clear"> </div>
		    </ul>
		    <script type="text/javascript" src="js/dropdown.js"></script>
			<script type="text/javascript" src="js/responsive-nav.js"></script>

	    </div>	
	    <div class="clear"> </div>
		<!--end-menu-->		            				
	</div><!--end-header-->
</div>
<!--end wrap-->   
<!--top- heading-->
<div class="top-heading">
	<!--start-wrap-->
	<div class="wrap">
		<div class="title">
			<div class="float-lt"><h1>竞赛指导</h1></div>
		    <form class="form-inline">
		    	<div class="form-group float-rt">
			   		<input type="button" class="btn-search" value="搜索">
			    </div>
		    	<div class="form-group float-rt">
			    	<input type="text" class="form-control " placeholder="搜索">
			    </div>
		    </form>
		    <div class="clear"></div>
		</div>
	</div>
	<!--end wrap-->
</div> 
<!--about-content-->
<div class="wrap">
<div class="content">
		<!--about-grids-->
		<div class="main-grid">
						<!--grid-left-->
			<div class="grid-left">
				<section data-am-widget="accordion" class="am-accordion am-accordion-default"data-am-accordion='{  }'>
				  <dl class="am-accordion-item am-active">
				    <dt class="am-accordion-title">2016全国大学生数学竞赛决赛一等奖获奖感言</dt>
				    <dd class="am-accordion-content am-collapse am-in"><small>发布时间：2017-01-10 14:00:00 浏览次数：16<br><br></small>
                       <p>去年十月下旬参加了山东省的预赛（数学类），虽然当时身边大部分同学都没有做什么准备去裸考，并且在充斥着去水一水的心态的环境中，我没有那么掉以轻心，还是拿出来了一些时间把大一、大二上学过的数分高代和解几看了一遍，因为忙于当时学期的学习，所以也并没有拿出特别充足的时间去准备，只是把书看了一遍。不过这还是很有用的。预赛感觉只做来了一个完整的大题，其他的题目都做上了一部分，或多或少，不过没想到考的还不错，拿到了全省第三。主要感觉还是大一的积累，以及后来大二暑假因为参加过一个暑期学校把高代又认真的学了一遍。如果看累积效应的话，这种竞赛是很难靠临时突击补习考出来理想成绩的。对于基础比较好的同学来说，难度在于如何在预赛中取胜，以山东省为例，上千甚至几千个人里面，按照25%*20%的比例，想拿个省一应该是不难的，但是要在这些人里面考到前五名争取到去参加决赛的机会才是困难的。</p>
                       <p>对于大学数学专业而言，我觉得很重要的在于温故而知新，在你没有什么基础的时候，课本上的例题或者吉米上题目的解题思路很多都是很有启发性的，它们可以给你很多做题的灵感（说到底还是要多做题啊）。在第一遍学习一门数学课程的时候你可能会有很多不是很理解的地方，当你认认真真学过去一遍再回头去看当初那些坎坷，你会发现很多问题都会变得明了很多。如果你当年学的教材足够好（或者说足够难），那么你只需要再把当年做过的习题再看看做一遍就差不多了（希望当年你是把课本习题全部都做过，而不是只做了一部分），但是如果当年的训练不够的话，或许你需要付出更多努力去巩固基础。我写下这篇文章是7.24，如果你从现在就盯准了接下来的竞赛，两三个月的时间刷题准备，即使不成功，你的做题水平也会提升很多。曾经有一位学长大学毕业即将进入基础数学研究生学习的时候他的一位老师送给了他一套吉米多维奇，寄望于打牢基础。我也颇受感动。丘赛里面同样有类似的话，希望能够扎扎实实的把题目做好做会。那些基础题的重要性可见一斑。</p>
                       <p>如果说到技巧，有一点也值得一谈，那就是往年的数竞的真题。希望能把往年的题目认真做一遍从中获取灵感，我在去福建的高铁上看过一些题目。在考场上，有一个是通过分类讨论，我解决了一个n边形问题的一种特殊情况，那就是正n边形，至少可以拿到一部分分数，对于一道满分20，总分能考到50+就有机会拿一等奖的竞赛，或许这一部分分数是有一些分量的。还有一道高代题目，基本的Jordan基本定理和Cauchy-Schwarz 不等式就是这一整个题目的关键。</p>
                       <p>其实整体而言，我并不是一个很好的例子。我的获奖或许有不少运气的成分。大家都知道决赛要考3门加上六选三，然而我的最终卷面上似乎只做上了数分高代和解几的题目，其余的科目，抽带复变实变概率微几我几乎都没有看（有时间原因也有个人原因），所以那些题目，即使当我看到并且意识到它们只不过是课后习题甚至更低的难度，我依然没有写什么，因为连基本的概念都忘了。虽然拿到了一等奖，但我也只是压线而过，抓住了前十名的尾巴而已（我决赛成绩55，分数线是50）。当真说到认真准备这样的一个竞赛，还是要把大量的时间用来复习，因为这个竞赛的题目并不是那么的难。另外一个因素，是因为各个赛区参加决赛的人数的限制， 北京那边清北的名额也有限，当你看一下历年一等奖获得者所在大学清单，尤其是你若能注意到丘赛的历年奖项获得者，或许你会更明白你要竞争的，不仅仅是试卷上的题目，更在于你的对手有多么强大。</p>
                       <p>努力学习，永远是你立于不败之地的源泉。祝你们好运。</p>
  
                   </dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">周培源力学竞赛个人参赛经验分享</dt>
				    <dd class="am-accordion-content am-collapse"><small>发布时间：2016-10-31 14:00:00 浏览次数：16<br><br></small>
				    <strong>1、回顾基础知识阶段</strong>
				       <p>力学竞赛的考纲在官网上可以查到，和大部分高等院校理论力学和材料力学的教学大纲是类似的。在复习的时候可以选择一本自己比较熟悉的教材，公式、定理的推导过程熟记在心，书后的题目也要做好。目前市面上公认的比较好的理论力学教材是哈工大第5版，后面的版本略难，如果基础好的话可以直接用最新版；材料力学的教材是刘鸿文编写的，各个版本差别不大。对应的书后题答案在网上可以下载，或者有配套的教辅，可以作为参考。</p>
				    <strong>2、自我提升阶段</strong>
				       <p>复习基础知识以后可以选择做一些比较难的题目。国防工业出版社出版的考研题集很不错，推荐大家做一做。</p>
				       <p> 另外，诚挚推荐单辉祖的《材料力学 问题例题与分析方法（第三版）》，整本书的思路很好，题的难度循序渐进，每一个题都很值得做。</p>
					<strong>3、冲刺阶段</strong>
					   <p>如果备考时间不长的话，可以直接跳过第2个阶段。备考的最后阶段，可以先试着做一做以前的考题，如果每套题能在规定的时间内完成50%，我个人觉得就真的可以了，说明你的能力足够了。做完以后好好分析每道题的思路。其实每年的命题学校不一样，考题的难度和整体思路也不一样，但是多做做总没有坏处。</p>
					   <p>如果想再多做一些题的话，推荐一本竞赛方面的书：《大学生力学竞赛与建模》，题目都很不错，建议大家选择性地做一下。</p>
					</dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">I创意WE实现——荧光化学灯会</dt>
				    <dd class="am-accordion-content am-collapse "><small>发布时间：2014-10-31 14:00:00 浏览次数：16<br><br></small>
活动名称：I创意WE实现——荧光化学灯会<br>
活动时间：2014年10月30日、31日，每天8：00-21：30<br>
活动地点：青春广场<br>
活动主办方：I创意WE实现·“求索”小分队<br>
活动简介：10月31号是西方传统节日万圣节前夜，我们在30、31号两天举办荧光化学灯会活动，利用荧光灯谜的形式来展示化学学科的魅力，普及化学科普知识，也让刚刚走进四川大学的同学们感受到化学的精彩，在节日中找到另一种欢乐！大家在猜谜的同时可以增进彼此之间的学习交流、结识更多的志同道合朋友！
</dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">四川大学轻纺与食品学院2014年师友论坛之大学有道</dt>
				    <dd class="am-accordion-content am-collapse "><small>发布时间：2014-10-31 14:00:00 浏览次数：16<br><br></small>
				    活动时间：11月2日晚19：00<br>活动地点：江安校区水上报告厅<br>活动名称：2014年师友论坛之大学有道<br>活动主办方：轻纺与食品学院团委学生会学习部<br>活动简介：本次经验交流会，将邀请相关专业的老师为同学们新学期的学习生活作出指导。</dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">PMC大赛交流分享会</dt>
				    <dd class="am-accordion-content am-collapse "><small>发布时间：2014-10-31 14:00:00 浏览次数：16<br><br></small>
				    活动时间：10月31日14:00-15：40<br>活动地点：望江校区基教A508教室<br>活动名称：PMC大赛交流分享会<br>活动主办方：高材发展研学会<br>活动简介：由参加了中国大学生高分子材料创新创业大赛（PMC）决赛并获得佳绩的两支优秀本科生队伍来分享参赛过程中的点滴，详细讲述赛前准备工作，参赛技巧,以及赛后心得，帮助有意参加的同学在下一届大赛中获得更好的成绩。</dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">四川大学轻纺与食品学院2014年师友论坛之大学有道</dt>
				    <dd class="am-accordion-content am-collapse "><small>发布时间：2014-10-31 14:00:00 浏览次数：16<br><br></small>
				    活动时间：11月2日晚19：00<br>活动地点：江安校区水上报告厅<br>活动名称：2014年师友论坛之大学有道<br>活动主办方：轻纺与食品学院团委学生会学习部<br>活动简介：本次经验交流会，将邀请相关专业的老师为同学们新学期的学习生活作出指导。</dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">PMC大赛交流分享会</dt>
				    <dd class="am-accordion-content am-collapse "><small>发布时间：2014-10-31 14:00:00 浏览次数：16<br><br></small>
				    活动时间：10月31日14:00-15：40<br>活动地点：望江校区基教A508教室<br>活动名称：PMC大赛交流分享会<br>活动主办方：高材发展研学会<br>活动简介：由参加了中国大学生高分子材料创新创业大赛（PMC）决赛并获得佳绩的两支优秀本科生队伍来分享参赛过程中的点滴，详细讲述赛前准备工作，参赛技巧,以及赛后心得，帮助有意参加的同学在下一届大赛中获得更好的成绩。</dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">四川大学轻纺与食品学院2014年师友论坛之大学有道</dt>
				    <dd class="am-accordion-content am-collapse "><small>发布时间：2014-10-31 14:00:00 浏览次数：16<br><br></small>
				    活动时间：11月2日晚19：00<br>活动地点：江安校区水上报告厅<br>活动名称：2014年师友论坛之大学有道<br>活动主办方：轻纺与食品学院团委学生会学习部<br>活动简介：本次经验交流会，将邀请相关专业的老师为同学们新学期的学习生活作出指导。</dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">PMC大赛交流分享会</dt>
				    <dd class="am-accordion-content am-collapse "><small>发布时间：2014-10-31 14:00:00 浏览次数：16<br><br></small>
				    活动时间：10月31日14:00-15：40<br>活动地点：望江校区基教A508教室<br>活动名称：PMC大赛交流分享会<br>活动主办方：高材发展研学会<br>活动简介：由参加了中国大学生高分子材料创新创业大赛（PMC）决赛并获得佳绩的两支优秀本科生队伍来分享参赛过程中的点滴，详细讲述赛前准备工作，参赛技巧,以及赛后心得，帮助有意参加的同学在下一届大赛中获得更好的成绩。</dd>
				  </dl>
				  
				</section>
				<div class="txt-center">
				<div class="page-numbers ">										
					<ul>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">》</a></li>
						<div class="clear"> </div>
					</ul>										
				</div></div>
			</div>
			<!--end grid-left-->
			<!--grid-right-->
			<div class="grid-right">
				<div class="side-bar">
				<div class="grid-right-headings">
					<h2><a href="#">比赛经验</a></h2>
					<h6> </h6>
					<div class="clear"> </div>
				</div>
				<ul class="seach-links">
				<li ><a href="jszd.html">工科</a></li>
				<li class="active"><a href="bsjy/list-like.html" >理科</a></li>
				<li><a href="list-shangke.html">商科</a></li>
				<li ><a href="list-wenti.html">文体</a></li>
				<li><a href="list-zonghe.html">综合</a></li>
				</ul>
				<div class="grid-right-headings">
					<h2><a href="#">优秀文案</a></h2>
					<h6> </h6>
						<div class="clear"> </div>
				</div>
				<ul class="seach-links">
				<li><a href="xmsq.html">项目申请</a></li>
				<li><a href="xmjs.html">项目介绍</a></li>
				<li><a href="xmjt.html">项目结题</a></li>
				</ul>
				<div class="grid-right-headings">
					<h2><a href="#">优秀PPT</a></h2>
					<h6> </h6>
						<div class="clear"> </div>
				</div>
				<ul class="seach-links">
				<li><a href="#">答辩PPT</a></li>
				</ul>
				</div>
			</div>
			<!--end grid-right-->
			<div class="clear"> </div>
		</div>
		<!--end about-grids-->
	</div>	
</div>
<!--about-content-->
<!--end about-->
<!--start footer-->
<div class="footer">
	<div class="footer-main wrap">
	<div class="footer-grids">
		<div class="fgrid">
			<h3>友情链接</h3>
			<p><a href="http://www.scu.edu.cn" target="_black">四川大学</a></p>
			<p><a href="http://xsc.scu.edu.cn/" target="_black">学工部</a></p>
			<p><a href="http://jwc.scu.edu.cn/jwc/frontPage.action" target="_black">教务处</a></p>
			<p><a href=" http://www.ccyl.org.cn/" target="_black">中国青年网</a></p>
			<p></p>
		</div>
		<div class="fgrid">
			<h3>关注我们</h3>
				<div>
					<p>新浪微博<a href="http://weibo.com/cdtw">@川大团委</a></p>
					
				</div>
				<div>
					<p>微信<a href="#">川大共青团</a></p>

				</div>
				<div>
					<p>人人 <a href="#">@川大团委</a></p>
				</div>
		</div>
		<div class="fgrid">
			<h3>联系我们</h3>
			<p>如果您有好的建议或者意见，请告诉我们。</p>
			<a href="#"><p>rollcollege@gmail.com</p></a>
			<h4></h4>
				<div class="social-media">
			     <ul>
			        <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="腾讯微博"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="新浪微博"><a href="http://weibo.com/cdtw" target="_blank"> </a> </span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="邮箱"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="qq空间"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="百度贴吧"><a href="#" target="_blank"> </a></span></li>
				</ul>
		</div>
		</div>
		<div class="clear"> </div>
	</div>
</div>
</div>
<!--end footer-->
<div class="copy-right">
	<div class="wrap">
		<div class="copy-right-left">
			<p>Copyright &copy; 2014.<a href="haj.fyscu.com">HWJ</a> All rights reserved.</p>
		</div>
	</div>
</div>
</body>
</html>