
<!DOCTYPE HTML>
<html>
<head>
    <title>IShow大学生项目园 </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/amazeui.widgets.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="js/jquery.js"></script>
    <!-- start slider -->
    <link href="css/camera.css" rel="stylesheet" type="text/css" media="all" />
    <script type='text/javascript' src="js/camera.min.js"></script>
    <script src="js/zepto.min.js"></script>
    <script src="js/amazeui.min.js"></script>
    <script src="js/handlebars.min.js"></script>
    <script src="js/amazeui.widgets.helper.min.js"></script>
    <script src="js/include.js"></script>
    <script src="js/ishow.ajax.js"></script>
    <style type="text/css">
        .btn-search{
            margin-left: 0px;
        }
        .form-control {
            height: 36px;
        }
    </style>

</head>
<body>
<!--star wrap-->
<div class="include" file="header.html"></div>
<!--end wrap-->
<!--top- heading-->
<div class="top-heading">
    <!--start-wrap-->
    <div class="wrap">
        <div class="title">
            <div class="float-lt"><h1>竞赛指导</h1></div>
            <form class="form-inline">
                <div class="form-group float-rt">
                    <input type="button" class="btn-search" value="搜索">
                </div>
                <div class="form-group float-rt">
                    <input type="text" class="form-control " placeholder="搜索">
                </div>
            </form>
            <div class="clear"></div>
        </div>
    </div>
    <!--end wrap-->
</div>
<!--about-content-->
<div class="wrap">
    <div class="content">
        <!--about-grids-->
        <div class="main-grid">
            <!--grid-left-->
            <div class="grid-left">
                <section data-am-widget="accordion" class="am-accordion am-accordion-default"data-am-accordion='{  }'>
                </section>
                <div class="txt-center">
                    <div class="page-numbers ">
                        <ul id="page-ul">
                        </ul>
                    </div></div>
            </div>
            <!--end grid-left-->
            <!--grid-right-->
            <div class="grid-right">
                <div class="side-bar">
                    <div class="grid-right-headings">
                        <h2><a href="#">比赛经验</a></h2>
                        <h6> </h6>
                        <div class="clear"> </div>
                    </div>
                    <ul class="seach-links">
                        <li class="test-li"><a href="list-work.html?type=1">工科</a></li>
                        <li class="test-li"><a href="list-work.html?type=2" >理科</a></li>
                        <li class="test-li"><a href="list-work.html?type=3">商科</a></li>
                        <li class="test-li"><a href="list-work.html?type=4">文体</a></li>
                        <li class="test-li"><a href="list-work.html?type=0">综合</a></li>
                    </ul>
                    <div class="grid-right-headings">
                        <h2><a href="#">优秀文案</a></h2>
                        <h6> </h6>
                        <div class="clear"> </div>
                    </div>
                    <ul class="seach-links">
                        <li class="test-li"><a href="list-work.html?type=11">项目申请</a></li>
                        <li class="test-li"><a href="list-work.html?type=12">项目介绍</a></li>
                        <li class="test-li"><a href="list-work.html?type=13">项目结题</a></li>
                    </ul>
                    <div class="grid-right-headings">
                        <h2><a href="#">优秀PPT</a></h2>
                        <h6> </h6>
                        <div class="clear"> </div>
                    </div>
                    <ul class="seach-links">
                        <li class="test-li"><a href="list-work.html?type=14">答辩PPT</a></li>
                    </ul>
                </div>
            </div>
            <!--end grid-right-->
            <div class="clear"> </div>
        </div>
        <!--end about-grids-->
    </div>
</div>
<!--about-content-->
<div class="include" file="footer.html">
<!--end footer-->
<div class="include" file="ender.html"></div>
</body>
<script type="text/javascript" src="js/include.js"></script>
<script>
    jQuery(function(){
        jQuery('#camera_wrap_2').camera({
            loader: 'bar',
            pagination: false,
            thumbnails: false
        });
    });

    $(document).ready(function() {
        var type = GetQueryString("type");
        var page = GetQueryString("page");
        var pagesize = GetQueryString("pagesize");
        if (page == null || page == undefined || page == "") {
            page = 1;
        }
        if (pagesize == null || pagesize == undefined || pagesize == "") {
            pagesize = 25;
        }
        ishowAjax({
            type: "post",
            url:  "../controller/getWorkInfos.php",
            data: {'type': type, 'page': page, 'pagesize': pagesize},
            cache: false,
            async: false,
            dataType: "json",
            success: function(json, status, jsXHR) {
                if (0 == json.code) {
                    if (json.data != null) {
                        var select = document.getElementsByTagName("section")[0];
                        if (json.data.list != null) {
                            $.each(json.data.list, function(key, value) {
                                var dl = document.createElement("dl");
                                dl.setAttribute("class", "am-accordion-item");
                                var dt = document.createElement("dt");
                                dt.setAttribute("class", "am-accordion-title");
                                dt.innerHTML = value.title;
                                var dd = document.createElement("dd");
                                dd.setAttribute("class", "am-accordion-content am-collapse");
                                var small = document.createElement("small");
                                var time = formateDate(value.create_time);
                                small.innerHTML = "发布时间：" + time + " 浏览次数：" + value.brower_num + "<br><br>";
                                dd.appendChild(small);
                                var p = document.createElement("p");
                                p.innerHTML = value.content;
                                dd.appendChild(p);
                                dl.appendChild(dt);
                                dl.appendChild(dd);
                                select.appendChild(dl);
                            });
                        }
                        if (json.data.total > json.data.pagesize) {
                            var type = GetQueryString("type");
                            var ul = document.getElementById("page-ul");
                            for (var i = 1; i < (json.data.total/json.data.pagesize) + 1; i++) {
                                var li = document.createElement("li");
                                var a = document.createElement("a");
                                a.href = "list-work.html?type=" + type + "&page=" + i +"&pagesize=" + json.data.pagesize;
                                a.innerHTML = i;
                                li.appendChild(a);
                                if (json.data.page == i) {
                                    li.setAttribute("class", "active");
                                }
                                ul.appendChild(li);
                            }
                            var div = document.createElement("div");
                            div.setAttribute("class", "clear");
                            ul.appendChild(div);
                        }
                    }
                } else {
                    alert(json.msg);
                }
            },
        });
    });

    $(document).ready(function() {
        var type = GetQueryString("type");
        var lis = document.getElementsByClassName("test-li");
        if (type == "1") {
            lis[0].setAttribute("class", "active");
        } else if (type == "2") {
            lis[1].setAttribute("class", "active");
        } else if (type == "3") {
            lis[2].setAttribute("class", "active");
        } else if (type == "4") {
            lis[3].setAttribute("class", "active");
        } else if (type == "0") {
            lis[4].setAttribute("class", "active");
        } else if (type == "11") {
            lis[5].setAttribute("class", "active");
        } else if (type == "12") {
            lis[6].setAttribute("class", "active");
        } else if (type == "13") {
            lis[7].setAttribute("class", "active");
        } else if (type == "14") {
            lis[8].setAttribute("class", "active");
        }
    });

</script>
</html>