
<!DOCTYPE HTML>
<html>
<head>
<title>青春川大 | 活动预告 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="css/amazeui.widgets.min.css">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="js/jquery.js"></script>
<!-- start slider -->
	<link href="css/camera.css" rel="stylesheet" type="text/css" media="all" />
	
	<script src="js/jquery.min.js"></script>
    <script type='text/javascript' src="js/jquery.mobile.customized.min.js"></script>
    <script type='text/javascript' src="js/jquery.easing.1.3.js"></script> 
    <script type='text/javascript' src="js/camera.min.js"></script>
    <script src="js/zepto.min.js"></script>
	<script src="js/amazeui.min.js"></script>
	<script src="js/handlebars.min.js"></script>
	<script src="js/amazeui.widgets.helper.min.js"></script>
    <script>
		jQuery(function(){

			jQuery('#camera_wrap_2').camera({
				
				loader: 'bar',
				pagination: false,
				thumbnails: false
			});
		});
	</script>
	<style type="text/css">
	.btn-search{
	margin-left: 0px;
	}
	.form-control {
  	height: 36px;
  	}
	</style>
<!-- end slider -->
</head>
<body>
<!--star wrap-->      
<div class="wrap">	
	<!--header--> 
	<div class="header">
		<!--start-logo-->
	    <div class="logo">	
	        <a href="index.html"><img src="images/logo.jpg"></a>
	    </div>
	    <!--end-logo-->
		<!--start-menu-->
	  	<div class="menu">
		  <a class="toggleMenu" href="#"><img src="images/nav.png" alt= " " /></a>
			<ul class="nav">
				<li><a href="index.html">首页</a></li>
				<li class="dropdown">
					<a href="detail-twjs.html">团委介绍</a>
					<ul class="dropdown-menu">
						<li><a href="detail-twjs.html">川大团委</a></li>
						<li><a href="list-twjs.html">团委成员</a></li>
						<li><a href="#">组织机构</a></li>
						<li><a href="#">分团委介绍</a></li>
					</ul>
				</li>
				<li class="dropdown active">
					<a href="activity.html">活动专题</a>
					<ul class="dropdown-menu">
						<li><a href="list-iwe.html"> "I创意We实现"四川大学学生活动基金</a></li>
						<li><a href="#"> "爱立方"志愿扶贫工程</a></li>
						<li><a href="#"> "时间银行"志愿服务</a></li>
						<li><a href="#"> 大学生骨干培养学校</a></li>
						<li><a href="#"> 围合分团委</a></p>
						<li><a href="#"> 大学生法治主题教育活动</a></li>
						<li><a href="#"> "三下乡"暑期社会实践</a></li>
						<li><a href="#"> 青年传媒记者团</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="union.html">学生组织</a>
					<ul class="dropdown-menu">
						<li><a href="detail-su.html">四川大学学生会</a></li>
						<li><a href="#">团委秘书处</a></li>
						<li><a href="#">团委组织部</a></li>
						<li><a href="#">四川大学青年传媒</a></li>
						<li><a href="#">团委文化艺术部</a></li>
						<li><a href="#">团委创业就业促进部</a></li>
						<li><a href="#">四川大学学生社团联合会</a></li>
						<li><a href="#">四川大学学生学术科技协会</a></li>
						<li><a href="#">四川大学青年志愿者协会</a></li>
						<li><a href="#">川大共青团青年研究中心</a></li>
					</ul>
				</li>
				<li class="dropdown">									
	            	<a href="user.html" >我的川大足迹</a>
	            </li>
			<div class="clear"> </div>
		    </ul>
		    <script type="text/javascript" src="js/dropdown.js"></script>
			<script type="text/javascript" src="js/responsive-nav.js"></script>

	    </div>	
	    <div class="clear"> </div>
		<!--end-menu-->		            				
	</div><!--end-header-->
</div>
<!--end wrap-->   
<!--top- heading-->
<div class="top-heading">
	<!--start-wrap-->
	<div class="wrap">
		<div class="title">
			<div class="float-lt"><h1>活动预告</h1></div>
		    <form class="form-inline">
		    	<div class="form-group float-rt">
			   		<input type="button" class="btn-search" value="搜索">
			    </div>
		    	<div class="form-group float-rt">
			    	<input type="text" class="form-control " placeholder="搜索">
			    </div>
		    </form>
		    <div class="clear"></div>
		</div>
	</div>
	<!--end wrap-->
</div> 
<!--about-content-->
<div class="wrap">
<div class="content">
		<!--about-grids-->
		<div class="main-grid">
			<!--grid-left-->
			<div class="grid-left">
				<section data-am-widget="accordion" class="am-accordion am-accordion-default"data-am-accordion='{  }'>
				  <dl class="am-accordion-item am-active">
				    <dt class="am-accordion-title">“I创意WE实现”四川大学学生活动基金简介</dt>
				    <dd class="am-accordion-content am-collapse am-in">为深入贯彻落实“两个全体青年”的要求，实践“眼睛向下、重心下移”的工作思路，探索“自下而上”的有效工作途径，进一步丰富我校团员青年的课余生活，加强校园文化建设，提高团员青年的综合素质，推劢校园活动的形式不内容不断创新，共青团四川大学委员会于2010 年2 月～6 月底成功丼办了第一届“I 创意WE 实现”四川大学学生活动基金。该活动是川大共青团在学生活劢模式方面的重大创新，不仅深受学生欢迎，还得到了国内各兄弟院校共青团的广泛关注和一致好评，从此得以深入开展和积极推广。<br><br>

    “I创意WE实现”作为四川大学共青团最为重要的品牌活动之一，自立项起就以全新的结构与运行模式而广受关注，先后被四川电视台、四川教育电视台、成都电视台、川大电视台、四川新闻网、中国青年报、天府早报、新闻现场等多家媒体以专题、整版等多种方式进行了全方位报道，引发了社会的广泛热议与好评。将“I创意WE实现”作为专项跟进的校团委文化艺术部项目孵化中心更是四川大学校团委下设的直属二级部门。得到校团委大力支持的“I创意WE实现”能够以更加快捷方便的方式完成活动审批，以更加丰富多样的信息渠道与活动资源支撑整个活动的顺利进行。<br><br>

    简言之，I创意WE实现是一个为学生提供自由创意、评选、组织、策划与执行学生活动机会的平台。优点在于，让学生完全摆脱平时“由上级制定，下级执行活动”传统模式的限制。开启 “草根创意，专业指导，平台支持”的新型活动组织模式，引发一场由下至上的活动风暴，让同学们可以做自己真正喜欢的活动。只要你敢于创新，我们就敢于实践。<br></dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">让生命去等候，去等候，去等候，去等候</dt>
				    <dd class="am-accordion-content am-collapse ">走在忠孝东路
				      <br/>徘徊在茫然中
				      <br/>在我的人生旅途
				      <br/>选择了多少错误
				      <br/>我在睡梦中惊醒
				      <br/>感叹悔言无尽
				      <br/>恨我不能说服自己
				      <br/>接受一切教训
				      <br/>让生命去等候
				      <br/>等候下一个漂流
				      <br/>让生命去等候
				      <br/>等候下一个伤口</dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">我就这样告别山下的家</dt>
				    <dd class="am-accordion-content am-collapse ">我就这样告别山下的家，我实在不愿轻易让眼泪留下。我以为我并不差不会害怕，我就这样自己照顾自己长大。我不想因为现实把头低下，我以为我并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？</dd>
				  </dl>
				</section>
			</div>
			<!--end grid-left-->
			<!--grid-right-->
			<div class="grid-right">
				<div class="side-bar">
				<div class="grid-right-headings">
						<h2><a href="#">专题活动</a></h2>
						<h6> </h6>
							<div class="clear"> </div>
					</div>
					<div class="seach-links">
					<p><a href="list-iwe.html"> "I创意We实现"四川大学学生活动基金</a></p>
					<p><a href="#"> "爱立方"志愿扶贫工程</a></p>
					<p><a href="#"> "时间银行"志愿服务</a></p>
					<p><a href="#"> 大学生骨干培养学校</a></p>
					<p><a href="#"> 围合分团委</a></p>
					<p><a href="#"> 大学生法治主题教育活动</a></p>
					<p><a href="#"> "三下乡"暑期社会实践</a></p>
					<p><a href="#"> 青年传媒记者团</a></p>
					</div>
					<div class="grid-right-headings">
						<h2><a href="#">活动报名</a></h2>
						<h6> </h6>
							<div class="clear"> </div>
					</div>
					<div class="seach-links">
	                    <div id="filters" class="clearfix">
	                    	<p><a href="baoming.html" class="btn" style="color:#fff;font-size:14px">“挑战杯”四川大学2014年学生科技节之软件设计大赛报名表</a></p>
							<p ><a href="baoming.html" class="btn" style="color:#fff;font-size:14px">“挑战杯”四川大学2014年学生科技节之创意雕刻大赛报名表</a></p>
							<p ><a href="baoming.html" class="btn" style="color:#fff;font-size:14px">“挑战杯”四川大学2014年学生科技节之网页设计大赛报名表</a></p>
						</div>
					</div>
				</div>
			</div>
			<!--end grid-right-->
			<div class="clear"> </div>
		</div>
		<!--end about-grids-->
	</div>	
</div>
<!--about-content-->
<!--end about-->
<!--start footer-->
<div class="footer">
	<div class="footer-main wrap">
	<div class="footer-grids">
		<div class="fgrid">
			<h3>友情链接</h3>
			<p><a href="http://www.scu.edu.cn" target="_black">四川大学</a></p>
			<p><a href="http://xsc.scu.edu.cn/" target="_black">学工部</a></p>
			<p><a href="http://jwc.scu.edu.cn/jwc/frontPage.action" target="_black">教务处</a></p>
			<p><a href=" http://www.ccyl.org.cn/" target="_black">中国青年网</a></p>
			<p></p>
		</div>
		<div class="fgrid">
			<h3>关注我们</h3>
				<div>
					<p>新浪微博<a href="http://weibo.com/cdtw">@川大团委</a></p>
					
				</div>
				<div>
					<p>微信<a href="#">川大共青团</a></p>

				</div>
				<div>
					<p>人人 <a href="#">@川大团委</a></p>
				</div>
		</div>
		<div class="fgrid">
			<h3>联系我们</h3>
			<p>如果您有好的建议或者意见，请告诉我们。</p>
			<a href="#"><p>rollcollege@gmail.com</p></a>
			<h4></h4>
				<div class="social-media">
			     <ul>
			        <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="腾讯微博"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="新浪微博"><a href="http://weibo.com/cdtw" target="_blank"> </a> </span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="邮箱"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="qq空间"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="百度贴吧"><a href="#" target="_blank"> </a></span></li>
				</ul>
		</div>
		</div>
		<div class="clear"> </div>
	</div>
</div>
</div>
<!--end footer-->
<div class="copy-right">
	<div class="wrap">
		<div class="copy-right-left">
			<p>Copyright &copy; 2014.<a href="haj.fyscu.com">HWJ</a> All rights reserved.</p>
		</div>
	</div>
</div>
</body>
</html>