
<!DOCTYPE HTML>
<html>
<head>
<title>IShow大学生项目园</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="css/amazeui.widgets.min.css">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="js/jquery.js"></script>
<!-- start slider -->
	<link href="css/camera.css" rel="stylesheet" type="text/css" media="all" />
	
	<script src="js/jquery.min.js"></script>
    <script type='text/javascript' src="js/jquery.mobile.customized.min.js"></script>
    <script type='text/javascript' src="js/jquery.easing.1.3.js"></script> 
    <script type='text/javascript' src="js/camera.min.js"></script>
    <script src="js/zepto.min.js"></script>
	<script src="js/amazeui.min.js"></script>
	<script src="js/handlebars.min.js"></script>
	<script src="js/amazeui.widgets.helper.min.js"></script>
    <script>
		jQuery(function(){

			jQuery('#camera_wrap_2').camera({
				
				loader: 'bar',
				pagination: false,
				thumbnails: false
			});
		});
	</script>
	<style type="text/css">
	.btn-search{
	margin-left: 0px;
	}
	.form-control {
  	height: 36px;
  	}
	</style>
<!-- end slider -->
</head>
<body>
<!--star wrap-->      
<div class="wrap">	
	<!--header--> 
	<div class="header">
		<!--start-logo-->
	    <div class="logo">	
	        <a href="index.html"><img src="images/logo.jpg"></a>
	    </div>
	    <!--end-logo-->
		<!--start-menu-->
	  	<div class="menu">
		  <a class="toggleMenu" href="#"><img src="images/nav.png" alt= " " /></a>
			<ul class="nav">
				<li class="active"><a href="index.html">首页</a></li>
				<li class="dropdown">
					<a href="jszd.html">竞赛指导</a>
				</li>
				<li class="dropdown">
					<a href="contest.html">比赛推送</a>
				</li>
				<li class="dropdown">
					<a href="production.html">优秀作品</a>
				</li>	            
				<li class="dropdown">									
	            	<a href="phb.html" >排行榜</a>
	            </li>
				<li class="dropdown">									
	            	<a href="glz_gxym.html" >个人中心</a>
	            </li>

			<div class="clear"> </div>
		    </ul>
		    <script type="text/javascript" src="js/dropdown.js"></script>
			<script type="text/javascript" src="js/responsive-nav.js"></script>

	    </div>	
	    <div class="clear"> </div>
		<!--end-menu-->		            		      				
	</div><!--end-header-->
</div>
<!--end wrap-->   
<!--top- heading-->
<div class="top-heading">
	<!--start-wrap-->
	<div class="wrap">
		<div class="title">
			<div class="float-lt"><h1>竞赛指导</h1></div>
		    <form class="form-inline">
		    	<div class="form-group float-rt">
			   		<input type="button" class="btn-search" value="搜索">
			    </div>
		    	<div class="form-group float-rt">
			    	<input type="text" class="form-control " placeholder="搜索">
			    </div>
		    </form>
		    <div class="clear"></div>
		</div>
	</div>
	<!--end wrap-->
</div> 
<!--about-content-->
<div class="wrap">
<div class="content">
		<!--about-grids-->
		<div class="main-grid">
						<!--grid-left-->
			<div class="grid-left">
				<section data-am-widget="accordion" class="am-accordion am-accordion-default"data-am-accordion='{  }'>
				  <dl class="am-accordion-item am-active">
				    <dt class="am-accordion-title">【优秀创客访谈】俏佳人进击互联网，最贴心的美丽顾问</dt>
				    <dd class="am-accordion-content am-collapse am-in"><small>发布时间：2017-01-10 14:00:00 浏览次数：16<br><br></small>
                       <strong>创业者——何影</strong>
	                        职务：联合仪美CEO<br/>
							毕业院校：中国政法大学法务会计研究生<br/>
							曾任职于新华网健康频道和搜狐网焦点事业部<br/>
							曾获得谷歌杯“益暖中华”全国大学生公益创业大赛优胜奖<br/>
							中国好创业最爆产品代言人第一名<br/>
							“她时代”女性创投盛典十佳优秀女性创业者<br/>
							Miss Future创投联盟新媒体部部长。<br/>
  
                   </dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">经济学院举办“挑战杯”四川大学2014年学生科技节之第八届案例分析大赛复赛</dt>
				    <dd class="am-accordion-content am-collapse"><small>发布时间：2014-10-31 14:00:00 浏览次数：16<br><br></small>
活动名称：“挑战杯”四川大学2014年学生科技节之第八届案例分析大赛复赛<br>
主办方：“挑战杯”四川大学2013年学生科技节组委会、共青团四川大学委员会主办，共青团四川大学经济学院委员会承办<br>
地点：望江经管楼东106教室<br>
时间：2014年10月30日14:00<br>
简介：“挑战杯”四川大学学生科技节之案例分析大赛秉承“创造、创新、创业”的理念，以引导全校学生培养敏锐的经济学思维，深入缜密的推理分析能力和应对实际问题的决策能力为宗旨，为同学们彰显智慧、展露才华提供了良好平台和机会。
</dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">I创意WE实现——荧光化学灯会</dt>
				    <dd class="am-accordion-content am-collapse "><small>发布时间：2014-10-31 14:00:00 浏览次数：16<br><br></small>
活动名称：I创意WE实现——荧光化学灯会<br>
活动时间：2014年10月30日、31日，每天8：00-21：30<br>
活动地点：青春广场<br>
活动主办方：I创意WE实现·“求索”小分队<br>
活动简介：10月31号是西方传统节日万圣节前夜，我们在30、31号两天举办荧光化学灯会活动，利用荧光灯谜的形式来展示化学学科的魅力，普及化学科普知识，也让刚刚走进四川大学的同学们感受到化学的精彩，在节日中找到另一种欢乐！大家在猜谜的同时可以增进彼此之间的学习交流、结识更多的志同道合朋友！
</dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">四川大学轻纺与食品学院2014年师友论坛之大学有道</dt>
				    <dd class="am-accordion-content am-collapse "><small>发布时间：2014-10-31 14:00:00 浏览次数：16<br><br></small>
				    活动时间：11月2日晚19：00<br>活动地点：江安校区水上报告厅<br>活动名称：2014年师友论坛之大学有道<br>活动主办方：轻纺与食品学院团委学生会学习部<br>活动简介：本次经验交流会，将邀请相关专业的老师为同学们新学期的学习生活作出指导。</dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">PMC大赛交流分享会</dt>
				    <dd class="am-accordion-content am-collapse "><small>发布时间：2014-10-31 14:00:00 浏览次数：16<br><br></small>
				    活动时间：10月31日14:00-15：40<br>活动地点：望江校区基教A508教室<br>活动名称：PMC大赛交流分享会<br>活动主办方：高材发展研学会<br>活动简介：由参加了中国大学生高分子材料创新创业大赛（PMC）决赛并获得佳绩的两支优秀本科生队伍来分享参赛过程中的点滴，详细讲述赛前准备工作，参赛技巧,以及赛后心得，帮助有意参加的同学在下一届大赛中获得更好的成绩。</dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">四川大学轻纺与食品学院2014年师友论坛之大学有道</dt>
				    <dd class="am-accordion-content am-collapse "><small>发布时间：2014-10-31 14:00:00 浏览次数：16<br><br></small>
				    活动时间：11月2日晚19：00<br>活动地点：江安校区水上报告厅<br>活动名称：2014年师友论坛之大学有道<br>活动主办方：轻纺与食品学院团委学生会学习部<br>活动简介：本次经验交流会，将邀请相关专业的老师为同学们新学期的学习生活作出指导。</dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">PMC大赛交流分享会</dt>
				    <dd class="am-accordion-content am-collapse "><small>发布时间：2014-10-31 14:00:00 浏览次数：16<br><br></small>
				    活动时间：10月31日14:00-15：40<br>活动地点：望江校区基教A508教室<br>活动名称：PMC大赛交流分享会<br>活动主办方：高材发展研学会<br>活动简介：由参加了中国大学生高分子材料创新创业大赛（PMC）决赛并获得佳绩的两支优秀本科生队伍来分享参赛过程中的点滴，详细讲述赛前准备工作，参赛技巧,以及赛后心得，帮助有意参加的同学在下一届大赛中获得更好的成绩。</dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">四川大学轻纺与食品学院2014年师友论坛之大学有道</dt>
				    <dd class="am-accordion-content am-collapse "><small>发布时间：2014-10-31 14:00:00 浏览次数：16<br><br></small>
				    活动时间：11月2日晚19：00<br>活动地点：江安校区水上报告厅<br>活动名称：2014年师友论坛之大学有道<br>活动主办方：轻纺与食品学院团委学生会学习部<br>活动简介：本次经验交流会，将邀请相关专业的老师为同学们新学期的学习生活作出指导。</dd>
				  </dl>
				  <dl class="am-accordion-item">
				    <dt class="am-accordion-title">PMC大赛交流分享会</dt>
				    <dd class="am-accordion-content am-collapse "><small>发布时间：2014-10-31 14:00:00 浏览次数：16<br><br></small>
				    活动时间：10月31日14:00-15：40<br>活动地点：望江校区基教A508教室<br>活动名称：PMC大赛交流分享会<br>活动主办方：高材发展研学会<br>活动简介：由参加了中国大学生高分子材料创新创业大赛（PMC）决赛并获得佳绩的两支优秀本科生队伍来分享参赛过程中的点滴，详细讲述赛前准备工作，参赛技巧,以及赛后心得，帮助有意参加的同学在下一届大赛中获得更好的成绩。</dd>
				  </dl>
				  
				</section>
				<div class="txt-center">
				<div class="page-numbers ">										
					<ul>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">》</a></li>
						<div class="clear"> </div>
					</ul>										
				</div></div>
			</div>
			<!--end grid-left-->
			<!--grid-right-->
			<div class="grid-right">
				<div class="side-bar">
				<div class="grid-right-headings">
					<h2><a href="#">比赛经验</a></h2>
					<h6> </h6>
					<div class="clear"> </div>
				</div>
				<ul class="seach-links">
				<li ><a href="jszd.html">工科</a></li>
				<li><a href="list-like.html" >理科</a></li>
				<li><a href="list-shangke.html">商科</a></li>
				<li ><a href="list-wenti.html">文体</a></li>
				<li class="active"><a href="list-zonghe.html">综合</a></li>
				</ul>
				<div class="grid-right-headings">
					<h2><a href="#">优秀文案</a></h2>
					<h6> </h6>
						<div class="clear"> </div>
				</div>
				<ul class="seach-links">
				<li><a href="#">项目申请</a></li>
				<li><a href="#">项目介绍</a></li>
				<li><a href="#">项目结题</a></li>
				</ul>
				<div class="grid-right-headings">
					<h2><a href="#">优秀PPT</a></h2>
					<h6> </h6>
						<div class="clear"> </div>
				</div>
				<ul class="seach-links">
				<li><a href="#">答辩PPT</a></li>
				</ul>
				</div>
			</div>
			<!--end grid-right-->
			<div class="clear"> </div>
		</div>
		<!--end about-grids-->
	</div>	
</div>
<!--about-content-->
<!--end about-->
<!--start footer-->
<div class="footer">
	<div class="footer-main wrap">
	<div class="footer-grids">
		<div class="fgrid">
			<h3>友情链接</h3>
			<p><a href="http://www.scu.edu.cn" target="_black">四川大学</a></p>
			<p><a href="http://xsc.scu.edu.cn/" target="_black">学工部</a></p>
			<p><a href="http://jwc.scu.edu.cn/jwc/frontPage.action" target="_black">教务处</a></p>
			<p><a href=" http://www.ccyl.org.cn/" target="_black">中国青年网</a></p>
			<p></p>
		</div>
		<div class="fgrid">
			<h3>关注我们</h3>
				<div>
					<p>新浪微博<a href="http://weibo.com/cdtw">@川大团委</a></p>
					
				</div>
				<div>
					<p>微信<a href="#">川大共青团</a></p>

				</div>
				<div>
					<p>人人 <a href="#">@川大团委</a></p>
				</div>
		</div>
		<div class="fgrid">
			<h3>联系我们</h3>
			<p>如果您有好的建议或者意见，请告诉我们。</p>
			<a href="#"><p>rollcollege@gmail.com</p></a>
			<h4></h4>
				<div class="social-media">
			     <ul>
			        <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="腾讯微博"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="新浪微博"><a href="http://weibo.com/cdtw" target="_blank"> </a> </span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="邮箱"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="qq空间"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="百度贴吧"><a href="#" target="_blank"> </a></span></li>
				</ul>
		</div>
		</div>
		<div class="clear"> </div>
	</div>
</div>
</div>
<!--end footer-->
<div class="copy-right">
	<div class="wrap">
		<div class="copy-right-left">
			<p>Copyright &copy; 2014.<a href="haj.fyscu.com">HWJ</a> All rights reserved.</p>
		</div>
	</div>
</div>
</body>
</html>