
<!DOCTYPE HTML>
<html>
<head>
<title>IShow大学生项目园</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="css/amazeui.widgets.min.css">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="js/jquery.js"></script>
<!-- start slider -->
	<link href="css/camera.css" rel="stylesheet" type="text/css" media="all" />
	
	<script src="js/jquery.min.js"></script>
    <script type='text/javascript' src="js/jquery.mobile.customized.min.js"></script>
    <script type='text/javascript' src="js/jquery.easing.1.3.js"></script> 
    <script type='text/javascript' src="js/camera.min.js"></script>
    <script src="js/zepto.min.js"></script>
	<script src="js/amazeui.min.js"></script>
	<script src="js/handlebars.min.js"></script>
	<script src="js/amazeui.widgets.helper.min.js"></script>
    <script>
		jQuery(function(){

			jQuery('#camera_wrap_2').camera({
				
				loader: 'bar',
				pagination: false,
				thumbnails: false
			});
		});
	</script>
	<style type="text/css">
	.btn-search{
	margin-left: 0px;
	}
	.form-control {
  	height: 36px;
  	}
	</style>
<!-- end slider -->
</head>
<body>
<!--star wrap-->      
<div class="wrap">	
	<!--header--> 
	<div class="header">
		<!--start-logo-->
	    <div class="logo">	
	        <a href="index.html"><img src="images/logo.jpg"></a>
	    </div>
	    <!--end-logo-->
		<!--start-menu-->
	  	<div class="menu">
		  <a class="toggleMenu" href="#"><img src="images/nav.png" alt= " " /></a>
			<ul class="nav">
				<li class="active"><a href="index.html">首页</a></li>
				<li class="dropdown">
					<a href="jszd.html">竞赛指导</a>
				</li>
				<li class="dropdown">
					<a href="contest.html">比赛推送</a>
				</li>
				<li class="dropdown">
					<a href="production.html">优秀作品</a>
				</li>	            
				<li class="dropdown">									
	            	<a href="phb.html" >排行榜</a>
	            </li>
				<li class="dropdown">									
	            	<a href="stu_grzl.html" >个人中心</a>
	            </li>

			<div class="clear"> </div>
		    </ul>
		    <script type="text/javascript" src="js/dropdown.js"></script>
			<script type="text/javascript" src="js/responsive-nav.js"></script>

	    </div>	
	    <div class="clear"> </div>
		<!--end-menu-->		            		      				
	</div><!--end-header-->
</div>
<!--end wrap-->   
<!--top- heading-->
<div class="top-heading">
	<!--start-wrap-->
	<div class="wrap">
		<div class="title">
			<div class="float-lt"><h1>竞赛指导</h1></div>
		    <form class="form-inline">
		    	<div class="form-group float-rt">
			   		<input type="button" class="btn-search" value="搜索">
			    </div>
		    	<div class="form-group float-rt">
			    	<input type="text" class="form-control " placeholder="搜索">
			    </div>
		    </form>
		    <div class="clear"></div>
		</div>
	</div>
	<!--end wrap-->
</div> 
<!--about-content-->
<div class="wrap">
<div class="content">
		<!--about-grids-->
		<div class="main-grid">
						<!--grid-left-->
			<div class="grid-left">
				<section data-am-widget="accordion" class="am-accordion am-accordion-default"data-am-accordion='{  }'>
				  <dl class="am-accordion-item am-active">
				    <dt class="am-accordion-title">【优秀创客访谈】俏佳人进击互联网，最贴心的美丽顾问</dt>
				    <dd class="am-accordion-content am-collapse am-in"><small>发布时间：2017-01-10 14:00:00 浏览次数：16<br><br></small>
                       <strong>创业者——何影</strong>
	                       <p> 职务：联合仪美CEO<br/>
							毕业院校：中国政法大学法务会计研究生<br/>
							曾任职于新华网健康频道和搜狐网焦点事业部<br/>
							曾获得谷歌杯“益暖中华”全国大学生公益创业大赛优胜奖<br/>
							中国好创业最爆产品代言人第一名<br/>
							“她时代”女性创投盛典十佳优秀女性创业者<br/>
							Miss Future创投联盟新媒体部部长。<br/></p>
						<p>早在上大学的时候，何影就已经萌生了想要自己创业的念头，但由于当初想法比较青涩，选择的方向也不是很成熟，所以没能把项目一直推行下去。<br>
 
然而小小的挫折非但没有消磨掉何影的冲劲和热血，反而为她之后的创业之路铺下了伏笔。<br>
 
毕业2年之后，结合了工作2年以来的所积累的工作经验，对行业的了解，还有手中掌握的各项资源。她最终开启了陪伴自己至今的项目</p>
<p>都说互联网创业九死一生，每一个创业团队在创业途中都不可避免的遇到一些困难，而何影和她的团队，曾经遇到过其中比较严重的两类。<br>
合伙人的中途离开这算是初创团队中出现比较多的一类问题了，而当问题发生时，联合仪美团队在第一时间出台方案作出应对。<br>
 
当发生人员离职，何影和其团队在第一时间做好了妥善的交接工作，极大程度上保证了工作任务和项目进程不受到太大影响。其次，仪美团队的主要成员各个都是“多面手”，能力相当全面且优秀，有惊无险的度过了此次危机。</p>

  
                   </dd>
				  </dl>	
				  		  <dl class="am-accordion-item am-active">
				    <dt class="am-accordion-title">【优秀创客访谈】尼创科技——软件外包行业的进击</dt>
				    <dd class="am-accordion-content am-collapse am-in"><small>发布时间：2017-01-10 14:00:00 浏览次数：16<br><br></small>
                       <strong>创业者——陈树佳</strong>
	                       <p> 职务：尼创科技CEO&PM<br/>
							两年多的互联网产品与运营经验；<br>
							曾在微信WiFi服务商团队做产品经理；<br>
							涉及领域包括商业WiFi，微信公众号自媒体，软件服务外包行业等；<br>
							第六届中国大学生服务外包创新创业大赛自由命题组一等奖；<br>
							第六届中国大学生服务外包创新创业大赛网络展示奖；<br>
							2015全国移动互联创新大赛高校-软件组三等奖；<br>
							2015全国大学生移动应用创新大赛第五赛区三等奖。</p>
						<p> 与大部分创业者相同的是，陈树佳和团队的人开始都是靠一个项目去吸引投资，可是他们发觉这样体量太小，公司没办法解决生存问题，团队中的人离去开始在一些企业中沉浸了一年，这个时候大部分人认为创业本身就要生存下来，只有生存了下来才能考虑发展。</p>
                        <p> 从生存和发展两者兼得中，陈树佳他们选择做起了软件外包，帮助一些创业团队或企业做产品需求、原型设计和开发，从中得到一些技术团队的磨合和自身有一个公司自我造血功能。当拥有自己想做的项目时，团队的资金、技术和默契都已经成熟，这对于长远的发展来说更为有利。</p>
                        <p>收在做软件外包早期，公司经营并不是一帆风顺，有长达半年期间公司基本没有业务，在这半年期间团队成员每天都利用各种资源跑业务，寻求合适的项目，团队内也在该期间明确了自己的主营方向，最主要是针对当下以及未来发展，选取自己合适的项目及方向。
1.需求梳理&产品原型的设计；<br>
2.安卓关于房地产、服务、咨讯平台类为主；<br>
3.微信公众号关于微信商城、生活服务类为主；<br>
4.商业WiFi和微信推广。<br>s
经过了这段迷茫艰难时期，公司最终才步入了正轨。</p>

  
                   </dd>
				  </dl>			  
				</section>
				<div class="txt-center">
				<div class="page-numbers ">										
					<ul>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">》</a></li>
						<div class="clear"> </div>
					</ul>										
				</div></div>
			</div>
			<!--end grid-left-->
			<!--grid-right-->
			<div class="grid-right">
				<div class="side-bar">
				<div class="grid-right-headings">
					<h2><a href="#">比赛经验</a></h2>
					<h6> </h6>
					<div class="clear"> </div>
				</div>
				<ul class="seach-links">
				<li><a href="jszd.html">工科</a></li>
				<li><a href="list-like.html" >理科</a></li>
				<li><a href="list-shangke.html">商科</a></li>
				<li><a href="list-wenti.html">文体</a></li>
				<li class="active"><a href="list-zonghe.html">综合</a></li>
				</ul>
				<div class="grid-right-headings">
					<h2><a href="#">优秀文案</a></h2>
					<h6> </h6>
						<div class="clear"> </div>
				</div>
				<ul class="seach-links">
				<li><a href="yxwa-xmsq.html">项目申请</a></li>
				<li><a href="yxwa-xmjs.html">项目介绍</a></li>
				<li><a href="yxwa-xmjt.html">项目结题</a></li>
				</ul>
				<div class="grid-right-headings">
					<h2><a href="#">优秀PPT</a></h2>
					<h6> </h6>
						<div class="clear"> </div>
				</div>
				<ul class="seach-links">
				<li><a href="yxPPT.html">答辩PPT</a></li>
				</ul>
				</div>
			</div>
			<!--end grid-right-->
			<div class="clear"> </div>
		</div>
		<!--end about-grids-->
	</div>	
</div>
<!--about-content-->
<!--end about-->
<!--start footer-->
<div class="footer">
	<div class="footer-main wrap">
	<div class="footer-grids">
		<div class="fgrid">
			<h3>友情链接</h3>
			<p><a href="http://www.scu.edu.cn" target="_black">四川大学</a></p>
			<p><a href="http://xsc.scu.edu.cn/" target="_black">学工部</a></p>
			<p><a href="http://jwc.scu.edu.cn/jwc/frontPage.action" target="_black">教务处</a></p>
			<p><a href=" http://www.ccyl.org.cn/" target="_black">中国青年网</a></p>
			<p></p>
		</div>
		<div class="fgrid">
			<h3>关注我们</h3>
				<div>
					<p>新浪微博<a href="http://weibo.com/cdtw">@川大团委</a></p>
					
				</div>
				<div>
					<p>微信<a href="#">川大共青团</a></p>

				</div>
				<div>
					<p>人人 <a href="#">@川大团委</a></p>
				</div>
		</div>
		<div class="fgrid">
			<h3>联系我们</h3>
			<p>如果您有好的建议或者意见，请告诉我们。</p>
			<a href="#"><p>rollcollege@gmail.com</p></a>
			<h4></h4>
				<div class="social-media">
			     <ul>
			        <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="腾讯微博"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="新浪微博"><a href="http://weibo.com/cdtw" target="_blank"> </a> </span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="邮箱"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="qq空间"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="百度贴吧"><a href="#" target="_blank"> </a></span></li>
				</ul>
		</div>
		</div>
		<div class="clear"> </div>
	</div>
</div>
</div>
<!--end footer-->
<div class="copy-right">
	<div class="wrap">
		<div class="copy-right-left">
				<p>Copyright &copy; 2017.<a href="haj.fyscu.com">ISHOW</a> All rights reserved.</p>
		</div>
	</div>
</div>
</body>
</html>