<!DOCTYPE html>
<html>
<head>
<title>Sliding Ui Forms Flat Responsive Widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Sliding Ui Forms template Responsive, Login form web template,Flat Pricing w3tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/login.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main agileits-w3layouts">
		<h1>IShow大学生项目园</h1>
		<div class="main-agileinfo"> 
			<div class="wthree-box"></div>
			<div class="agileui-forms">
				<div class="container-info">
					<div class="info-w3lsitem">
						<div class="w3table">
							<div class="w3table-cell">
								<p>已有账号？</p>
								<div class="btn">现在登录</div>
							</div>
						</div>
					</div>
					<div class="info-w3lsitem">
						<div class="w3table">
							<div class="w3table-cell">
								<p>没有账号？</p>
								<div class="btn">现在注册</div>
							</div>
						</div>
					</div>
					<div class="clear"> </div>
				</div> 
				<div class="container-form">
					<div class="form-item log-in"><!-- login form-->
						<div class="w3table agileinfo"> 
							<div class="w3table-cell"> 
								<div class="w3table-topimg">
									<img src="images/img1.jpg">
								</div>
									<input id="uname1" type="text" name="uname" placeholder="昵称" required=""/>
									<input id="passwd1" type="Password" name="passwd" placeholder="密码" required=""/>
									<input id = "click1" type="submit" class="btn" value="登录">
							</div>
						</div>
					</div>
					<div class="form-item sign-up"><!-- sign-up form-->
						<div class="w3table w3-agileits">
							<div class="w3table-cell">
								<input id="uname2" type="text" name="uname" placeholder="昵称" required=""/>
								<input id="passwd2" type="Password" name="passwd" placeholder="密码" required=""/>
								<input id="email" type="email" name="email" placeholder="邮件" required=""/>
								<input id="click2" type="submit" class="btn" value="注册">
							</div>
						</div>
					</div>
				</div>
			</div> 
		</div>	
	</div>   
	<!-- //main -->

	<!-- js -->  
	<script  src=" js/jquery.min.js"></script>
	<script type="text/javascript" src="js/ishow.ajax.js"></script>
	<script>
		$(".info-w3lsitem .btn").click(function() {
			  $(".main-agileinfo").toggleClass("log-in");
			});
			$(".container-form .btn").click(function() {
			  $(".main-agileinfo").addClass("active");
		});
		$(document).ready(function(){
			$("#click1").click(function() {
				var uname = document.getElementById("uname1").value;
				var passwd = document.getElementById("passwd1").value;
				if (uname != null && passwd != null) {
					ishowAjax({
						type: "post",
						url: "../controller/login.php",
						data: {'uname': uname, 'passwd': passwd},
						cache: false,
						async: false,
						dataType: "json",
						success: function(json, status, jsXHR) {
							if (0 == json.code) {
								window.location.href = "index.html";
							} else {
								alert(json.msg);
							}
						},
						error: function(XMLHttpRequest, textStatus, errorThrow) {
							console.info(errorThrow);
							return false;
						}
					})
				}
			});
		});
		$(document).ready(function(){
			$("#click2").click(function() {
				var uname = document.getElementById("uname2").value;
				var passwd = document.getElementById("passwd2").value;
				var email = document.getElementById("email").value;
				if (uname != null && passwd != null) {
					ishowAjax({
						type: "post",
						url: "../controller/register.php",
						data: {'uname': uname, 'passwd': passwd, 'email': email},
						cache: false,
						async: false,
						dataType: "json",
						success: function(json, status, jsXHR) {
							if (0 == json.code) {
								var result = confirm('注册成功！');
								if(result){
									window.location.href = "index.html";
								}else{
									window.location.href = "index.html";
								}
							} else {
								alert(json.msg);
							}
						},
						error: function(XMLHttpRequest, textStatus, errorThrow) {
							console.info(errorThrow);
							return false;
						}
					})
				}
			});
		});
	</script>
	<!-- //js --> 
</body>
</html>