
<!DOCTYPE HTML>
<html>
<head>
<title>青春川大 | 团委介绍 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="css/amazeui.widgets.min.css">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="js/jquery.js"></script>
<!-- start slider -->
	<link href="css/camera.css" rel="stylesheet" type="text/css" media="all" />
	
	<script src="js/jquery.min.js"></script>
    <script type='text/javascript' src="js/jquery.mobile.customized.min.js"></script>
    <script type='text/javascript' src="js/jquery.easing.1.3.js"></script> 
    <script type='text/javascript' src="js/camera.min.js"></script>
    <script src="js/zepto.min.js"></script>
	<script src="js/amazeui.min.js"></script>
	<script src="js/handlebars.min.js"></script>
	<script src="js/amazeui.widgets.helper.min.js"></script>
    <script>
		jQuery(function(){

			jQuery('#camera_wrap_2').camera({
				
				loader: 'bar',
				pagination: false,
				thumbnails: false
			});
		});
	</script>
	<style type="text/css">
	.btn-search{
	margin-left: 0px;
	}
	.form-control {
  	height: 36px;
  	}
	</style>
<!-- end slider -->
</head>
<body>
<!--star wrap-->      
<div class="wrap">	
	<!--header--> 
	<div class="header">
		<!--start-logo-->
	    <div class="logo">	
	        <a href="index.html"><img src="images/logo.jpg"></a>
	    </div>
	    <!--end-logo-->
<!--start-menu-->
	  	<div class="menu">
		  <a class="toggleMenu" href="#"><img src="images/nav.png" alt= " " /></a>
			<ul class="nav">
				<li class="active"><a href="index.html">首页</a></li>
				<li class="dropdown">
					<a href="jszd.html">竞赛指导</a>
				</li>
				<li class="dropdown">
					<a href="contest.html">比赛推送</a>
				</li>
				<li class="dropdown">
					<a href="production.html">优秀作品</a>
				</li>	            
				<li class="dropdown">									
	            	<a href="phb.html" >排行榜</a>
	            </li>
				<li class="dropdown">									
	            	<a href="glz_gxym.html" >个人中心</a>
	            </li>

			<div class="clear"> </div>
		    </ul>
		    <script type="text/javascript" src="js/dropdown.js"></script>
			<script type="text/javascript" src="js/responsive-nav.js"></script>

	    </div>	
	    <div class="clear"> </div>
		<!--end-menu-->		            			            				
	</div><!--end-header-->
</div>
<!--end wrap-->   
<!--top- heading-->
<div class="top-heading">
	<!--start-wrap-->
	<div class="wrap">
		<div class="title">
			<div class="float-lt"><h1>个人详情</h1></div>
		    <form class="form-inline">
		    	<div class="form-group float-rt">
			   		<input type="button" class="btn-search" value="搜索">
			    </div>
		    	<div class="form-group float-rt">
			    	<input type="text" class="form-control " placeholder="搜索">
			    </div>
		    </form>
		    <div class="clear"></div>
		</div>
	</div>
	<!--end wrap-->
</div> 
<!--about-content-->
<div class="wrap">
<div class="content">
		<!--about-grids-->
		<div class="main-grid">
						<!--grid-left-->
			<div class="grid-left">
				<section data-am-widget="accordion" class="am-accordion am-accordion-default"data-am-accordion='{  }'>
				  <dl class="am-accordion-item am-active">
				   <dt class="am-accordion-title">经验 | 我的acm经历</dt>
				    <dd class="am-accordion-content am-collapse am-in"><small>发布时间：2017-01-10 14:00:00 浏览次数：16<br><br></small>
                       <p>在这里写一写自己的ACM生活，一个过来人的小小经验是有的，也是希望大家少走弯路，想在ACM上的路上走下去确实需要的是坚持。近来很多战友（一起AC的那些同学）很多都退出了集训队（包括我），只有几个队友还在那坚持。不管怎样是坚持的还是退出的我相信他们在ACM的生活中不止学到了算法，更学到了一种态度，学习的态度，生活的态度。可能很多人说ACM没用，如果你能做其他更有意义的事情我还可以理解，但如果只是无所事事或者每天沉迷于网游，只能证明你肤浅。但是也不能把ACM看成是万能的，除了让你掌握一些基本的算法和提高你的自学能力以外，他的最积极的意义是让你不虚度你宝贵的大学时光。</p>
                       <p>当时是抱着试试的心态参加学校集训队选拔的，因为学校的牛人是很多的，但是经过自己的努力擦边的被集训队收编。然后就是暑假里的训练，刚开始热情高涨，可是随着算法学习的深入，发现自己了解的东西的太少，算法设计的方面很广没有扎实的基础知识对于你后续的算法学习是一个很大的硬伤。如果你现在正在集训队，或是刚开始接触ACM那么请你扎实学好现在的基本算法，不要好高骛远。态度很重要，态度决定高度。</p>
                       <p>想参加ACM频繁的比赛时不可能缺少的，如果没在比赛中摸爬滚打过，那么你就不会有好的成绩。但是我们在比赛中的心是脆弱的，所以在比赛中要时刻提醒自己比赛的一些原则。</p>
                       <p>1.坚决不搜论文，不搜结题报告。<br>
2.不说一丝一毫泄气的话。<br>
3.不做任何与比赛无关的事。<br>
4.时刻注意调整自己的状态，把每一场训练重视起来。<br>
在赛后不要有这样的理由：<br>
1.我们做的不认真，所以没比好，正式赛的时候不会这样。<br>
2.今天状态不好，卡题了，没有提早走出来，正式赛的时候不会这样的。<br>
3.写题写的太急了，没有谨慎，正式赛不会这样。<br>
4.题目质量太差了，正式赛不会有这种题的。<br>
5.题目类型不对，Final没有这种题。<br>
6, 有个题目差一点点就AC了，我应该排在XXX前面的<br>
你怎么知道差一点就一定能AC？<br>
总之一句话，认真对待每一场训练赛。。</p>
  
                   </dd>
				  </dl>

				</section>
				<div class="txt-center">
				<div class="page-numbers ">										
					<ul>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">》</a></li>
						<div class="clear"> </div>
					</ul>										
				</div></div>
			</div>
			<!--end grid-left-->
			<!--grid-right-->
			<div class="grid-right">
				<div class="side-bar">

				<div class="grid-right-headings">
					<h2><a href="person_grxx.html">个人信息</a></h2>
					<h6> </h6>
						<div class="clear"> </div>
				</div>
				
				<div class="grid-right-headings">
					<h2><a href="#">发布</a></h2>
					<h6> </h6>
					<div class="clear"> </div>
				</div>
				<ul class="seach-links">
				<li ><a href="person_zpfb.html">作品发布</a></li>
				<li><a href="person_jyfb.html" >经验发布</a></li>
				</ul>


				<div class="grid-right-headings">
					<h2><a href="#">足迹</a></h2>
					<h6> </h6>
						<div class="clear"> </div>
				</div>
				<ul class="seach-links">
				<li><a href="person_pl.html">评论过的</a></li>
				<li><a href="person_sc.html">收藏过的</a></li>
				<li class="active"><a href="person_dz.html">点赞过的</a></li>
				</ul>

				</div>
			</div>
			<!--end grid-right-->
			<div class="clear"> </div>
		</div>
		<!--end about-grids-->
	</div>	
</div>
<!--about-content-->
<!--end about-->
<!--start footer-->
<div class="footer">
	<div class="footer-main wrap">
	<div class="footer-grids">
		<div class="fgrid">
			<h3>友情链接</h3>
			<p><a href="http://www.scu.edu.cn" target="_black">四川大学</a></p>
			<p><a href="http://xsc.scu.edu.cn/" target="_black">学工部</a></p>
			<p><a href="http://jwc.scu.edu.cn/jwc/frontPage.action" target="_black">教务处</a></p>
			<p><a href=" http://www.ccyl.org.cn/" target="_black">中国青年网</a></p>
			<p></p>
		</div>
		<div class="fgrid">
			<h3>关注我们</h3>
				<div>
					<p>新浪微博<a href="http://weibo.com/cdtw">@川大团委</a></p>
					
				</div>
				<div>
					<p>微信<a href="#">川大共青团</a></p>

				</div>
				<div>
					<p>人人 <a href="#">@川大团委</a></p>
				</div>
		</div>
		<div class="fgrid">
			<h3>联系我们</h3>
			<p>如果您有好的建议或者意见，请告诉我们。</p>
			<a href="#"><p>rollcollege@gmail.com</p></a>
			<h4></h4>
				<div class="social-media">
			     <ul>
			        <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="腾讯微博"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="新浪微博"><a href="http://weibo.com/cdtw" target="_blank"> </a> </span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="邮箱"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="qq空间"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="百度贴吧"><a href="#" target="_blank"> </a></span></li>
				</ul>
		</div>
		</div>
		<div class="clear"> </div>
	</div>
</div>
</div>
<!--end footer-->
<div class="copy-right">
	<div class="wrap">
		<div class="copy-right-left">
				<p>Copyright &copy; 2017.<a href="haj.fyscu.com">ISHOW</a> All rights reserved.</p>
	</div>
</div>
</body>
</html>