
<!DOCTYPE HTML>
<html>
<head>
<title>IShow大学生项目园 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="js/jquery.js"></script>
<!-- start slider -->
	<link href="css/camera.css" rel="stylesheet" type="text/css" media="all" />
	<script src="js/jquery.min.js"></script>
    <script type='text/javascript' src="js/jquery.mobile.customized.min.js"></script>
    <script type='text/javascript' src="js/jquery.easing.1.3.js"></script> 
    <script type='text/javascript' src="js/camera.min.js"></script>
    <script>
		jQuery(function(){

			jQuery('#camera_wrap_2').camera({
				
				loader: 'bar',
				pagination: false,
				thumbnails: false
			});
		});
	</script>
<!-- end slider -->
</head>
<body>
<!--star wrap-->      
<div class="wrap">	
	<!--header--> 
	<div class="header">
		<!--start-logo-->
	    <div class="logo">	
	        <a href="index.html"><img src="images/logo.jpg"></a>
	    </div>
	    <!--end-logo-->
				<!--start-menu-->
	  	<div class="menu">
		  <a class="toggleMenu" href="#"><img src="images/nav.png" alt= " " /></a>
			<ul class="nav">
				<li class="active"><a href="index.html">首页</a></li>
				<li class="dropdown">
					<a href="jszd.html">竞赛指导</a>
				</li>
				<li class="dropdown">
					<a href="contest.html">比赛推送</a>
				</li>
				<li class="dropdown">
					<a href="production.html">优秀作品</a>
				</li>	            
				<li class="dropdown">									
	            	<a href="phb.html" >排行榜</a>
	            </li>
				<li class="dropdown">									
	            	<a href="stu_grzl.html" >个人中心</a>
	            </li>

			<div class="clear"> </div>
		    </ul>
		    <script type="text/javascript" src="js/dropdown.js"></script>
			<script type="text/javascript" src="js/responsive-nav.js"></script>

	    </div>	
	    <div class="clear"> </div>
		<!--end-menu-->		            			
	</div><!--end-header-->
</div>
<!--end wrap-->   
<!--top- heading-->
<div class="top-heading">
	<!--start-wrap-->
	<div class="wrap">
		<div class="title">
			<div class="float-lt"><h1>详情介绍</h1></div>
		    <form class="form-inline">
		    	<div class="form-group float-rt">
			   		<input type="button" class="btn-search" value="搜索">
			    </div>
		    	<div class="form-group float-rt">
			    	<input type="text" class="form-control " placeholder="搜索">
			    </div>
		    </form>
		    <div class="clear"></div>
		</div>
	</div>
	<!--end wrap-->
</div> 
<!--start blog-->
<div class="blog-content">
	<section id="detail_main">
		<div class="inner">
			<div class="image fit">
			    <img src="images/pic12.jpg" alt="" />
			</div>
			<header>
				<h1>北斗智能学生卡</h1>
				<p class="info">2017-01-01</p>
			</header>
			<section class="content_xq">
		<p>北斗智能学生卡是由武汉梦芯科技有限公司推出的一款主打“位置+通信”服务的卡片式定位通话终端，内置拥有完全自主知识产权的启梦高精度北斗导航芯片（MXT2702），结合GSM基站、辅助全球导航卫星系统、Wi-Fi、重力传感器以及RFID射频识别等多项技术，实现了精确定位跟踪，亲情通话、一键SOS求救、电子围栏、APP远程关机等功能，可广泛应用于电子学生证、人员考勤、老人关爱、物品防丢等应用场景。</p>
		<p>智能学生卡可插入一张SIM卡，通过移动/联通的GPRS网络，实现与中移物联网OneNET云平台的通信，上传位置信息，支持A-GPS技术，室外定位精度可达到5～10米，室内定位通过基站/Wi-Fi/重力传感器多重定位技术也可实现接近室外的定位精度。同时，定位通话终端与APP注册用户绑定后，支持双向高清通话功能，支持一键快速拨号功能，当学生或老人遇到危险时，可以第一时间与家人联系；家长可通过APP为终端设定电话白名单，防止陌生来电骚扰，可以设置免扰模式，上课时段不受任何电话打扰；可随时通过远程聆听环境声音，随时了解孩子所处的环境，预防危险发生。终端内置1000mAh锂聚合物电池，能满足5天待机和3天的正常使用；电量显示和低电报警可及时提醒家长为终端充电。通过选配2.4GHz RFID模块可实现无障碍远距离刷卡考勤。</p>
		<p>基于OneNET提供的接入协议和平台功能，智能学生卡与手机APP、云服务器共同构建了一套完整的、可为各个行业灵活定制的综合信息服务平台，应用到教育行业，可解决目前在学生的身份识别、考勤管理、班级统一管理等方面的难题；通过深度定制开发，还可实现课堂教学的互动答题与师生交流，进一步拓展了校园综合服务同时，也提升了管理效率。</p>
		<p>精准定位<br>
支持北斗/GPS双模定位、基站定位、Wi-Fi定位、重力感应等多种定位方式，实现室外室外无缝精准定位。无论终端在哪里，配合手机APP，随时查看终端位置，一目了然。</p>
		<p>亲情通话<br>
一键拨打亲情电话，亲情关爱随时在线。支持来电防火墙功能，轻松将各类骚扰电话拒之门外，打造更简单、更安全、更纯净的通话环境。</p>
        <p>一键求救<br>
长按SOS按键，终端立即启动定位，并循环拨打亲情电话，直至打通，让孩子户外安全又多了一份保障。</p>
		<p>更低功耗<br>
根据多种场景智能判断终端动静状态，可根据终端活动情况智能调整GPRS数据上报频率及GNSS状态；内置多种算法，将功耗优化到最低，让设备更加省电，使用时间更长，用户体验更佳。</p>
		</section>
		<div class="soci">
			<ul>
				<li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
				<li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
			</ul>
		</div>
		</div>
	    <div class="response">
					<h4>评论区</h4>
					<div class="media response-info">
						<div class="media-left response-text-left">
							<a href="#">
								<img src="images/sin1.jpg" class="img-responsive" alt="">
							</a>
						</div>
						<div class="media-body response-text-right">
							<p>onenet平台在该系统中起到了什么作用？</p>
							<ul>
								<li>2017-01-01</li>
								<li><a href="#">回复</a></li>
							</ul>
							<div class="media response-info">
								<div class="media-left response-text-left">
									<a href="#">
										<img src="images/sin2.jpg" class="img-responsive" alt="">
									</a>
								</div>
								<div class="media-body response-text-right">
									<p>一键求救只有拨打电话一种方式么？有没有结合多种求救方式？</p>
									<ul>
										<li>2017-01-01</li>
										<li><a href="#">回复</a></li>
									</ul>		
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="media response-info">
						<div class="media-left response-text-left">
							<a href="#">
								<img src="images/sin1.jpg" class="img-responsive" alt="">
							</a>
						</div>
						<div class="media-body response-text-right">
							<p>该系统已经投入实际使用了么？</p>
							<ul>
								<li>2017-01-01</li>
								<li><a href="#">回复</a></li>
							</ul>
							<div class="media response-info">
								<div class="media-left response-text-left">
									<a href="#">
										<img src="images/sin2.jpg" class="img-responsive" alt="">
									</a>
								</div>
								<div class="media-body response-text-right">
									<p>该系统的整体框架是怎样的？</p>
									<ul>
										<li>2017-01-01</li>
										<li><a href="#">回复</a></li>
									</ul>		
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>	

						<div class="comment-form">
					    <form>
					       <h2>我要评论</h2>
						    <div>
						    	<span><textarea rows="2" cols="70" placeholder="评论"></textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" class="" placeholder="提交"></span>
						  </div>
					    </form>
				    </div>
				<div class="clearfix"></div>
	</section>
	<!--end  blog-grids-->
</div>
	
<!--end blog-->
<!--start footer-->
<div class="footer">
	<div class="footer-main wrap">
	<div class="footer-grids">
		<div class="fgrid">
			<h3>友情链接</h3>
			<p><a href="http://www.scu.edu.cn" target="_black">四川大学</a></p>
			<p><a href="http://xsc.scu.edu.cn/" target="_black">学工部</a></p>
			<p><a href="http://jwc.scu.edu.cn/jwc/frontPage.action" target="_black">教务处</a></p>
			<p><a href=" http://www.ccyl.org.cn/" target="_black">中国青年网</a></p>
			<p></p>
		</div>
		<div class="fgrid">
			<h3>关注我们</h3>
				<div>
					<p>新浪微博<a href="http://weibo.com/cdtw">@川大团委</a></p>
					
				</div>
				<div>
					<p>微信<a href="#">川大共青团</a></p>

				</div>
				<div>
					<p>人人 <a href="#">@川大团委</a></p>
				</div>
		</div>
		<div class="fgrid">
			<h3>联系我们</h3>
			<p>如果您有好的建议或者意见，请告诉我们。</p>
			<a href="#"><p>rollcollege@gmail.com</p></a>
			<h4></h4>
				<div class="social-media">
			     <ul>
			        <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="腾讯微博"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="新浪微博"><a href="http://weibo.com/cdtw" target="_blank"> </a> </span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="邮箱"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="qq空间"><a href="#" target="_blank"> </a></span></li>
			        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="百度贴吧"><a href="#" target="_blank"> </a></span></li>
				</ul>
		</div>
		</div>
		<div class="clear"> </div>
	</div>
</div>
</div>
<!--end footer-->
<div class="copy-right">
	<div class="wrap">
		<div class="copy-right-left">
				<p>Copyright &copy; 2017.<a href="haj.fyscu.com">ISHOW</a> All rights reserved.</p>
		</div>
	</div>
</div>
</body>
</html>